.header {
    width:100%;
}
.h1-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub-head{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}